html, body {
	font-family: 'Helvetica', 'Arial', sans-serif;
  overflow: auto;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}


/* LANDING PAGE & MAIN CODE BEGINNING */

/* HEADER */

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 60px;
  background-color: transparent !important;
  z-index: 1000; /* 1000 for all nav elements */ 
}

.custom-header {
  position: absolute;
  background-color: transparent;
  z-index: 1000;
}

/* NAV LEFT */

.header-left {
	display: flex;
	align-items: center;
  padding: 0 40px;
  position: fixed;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
}

.nav-logo {
	font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #595959;
  z-index: 1000;
}

.nav-logo:hover,
.nav-logo:active {
  color: floralwhite;
}

.header-left-mobile {
  display: none;
}

/* NAV RIGHT */

.header-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
  flex-direction: row;
  position: fixed;
  right: 20px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
}

.nav-right {
  display: flex;
  z-index: 1000;
}

.nav-link {
	font-size: 15px;
	padding: 0 20px;
	text-decoration: none;
  text-transform: uppercase;
	color: #595959;
  z-index: 1000;
}

.nav-link:hover,
.nav-link:active {
  color: floralwhite;
}

.header-right-mobile {
  display: none;
}

/* NAV HAMBURGER */

.hamburger {
  display: none;
  z-index: 1000;
}

/* NAV MOBILE */

@media (max-width: 800px) {
  .header-left {
    display: none;
  } 

  .header-left-mobile {
    display: flex;
    align-items: center;
    padding: 20px 20px 0px 20px;
    position: fixed;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
  }

  .header-right {
    display: none;
  }

  .header-right-mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 20px 0px 20px;
    position: fixed;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    left: 0;
    right: 0; 
    z-index: 1000;
  }

  .nav-right-mobile {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    right: 20px;
    z-index: 1000;
  }

  .hamburger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }

  .hamburger-link {
    display: block;
    text-align: right;
    padding: 5px 0;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #595959;

  }

  .hamburger-link:hover,
  .hamburger-link:active {
    color: floralwhite;
  }

  .hamburger-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    padding-top: 30px;
  }

  .hamburger-dropdown.show {
    display: flex;
  }

  /* HAMBURGER DESIGN DON'T TOUCH */
  .line {
    display: block;
    width: 100%;
    height: 2px;
    background: #595959;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-out;
  }

  .line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .line:nth-child(3) {
    bottom: 0;
  }

  .hamburger.active .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
    transform-origin: center;
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    transform-origin: center;
  }
}


/* VIDEO */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.video-section iframe {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* PAGE CONTENT */

.page-content {
  position: relative;
}


/* LANDING PAGE & MAIN CODE END */





/* PORTFOLIO PAGE CODE BEGINNING */

/* PORTFOLIO WORK OVERVIEW SECTION */

.portfolio-work-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.portfolio-work-links li {
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0;
  animation: fade-in 2s ease forwards;
}

.portfolio-work-links li:nth-child(1) p {
  animation: fade-in 2s ease forwards;
  animation-delay: 0s;
}

.portfolio-work-links li:nth-child(2) p {
  animation: fade-in 2s ease forwards;
  animation-delay: 0.5s;
}

.portfolio-work-links li:nth-child(3) p {
  animation: fade-in 2s ease forwards;
  animation-delay: 1s;
}

.portfolio-work-links li:nth-child(4) p {
  animation: fade-in 2s ease forwards;
  animation-delay: 1.5s;
}

.portfolio-work-links li:nth-child(5) p {
  animation: fade-in 2s ease forwards;
  animation-delay: 2s;
}

.animation-delay {
  opacity: 0;
  animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio-link {
  font-size: 15px;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #595959;
}

.portfolio-link:hover,
.portfolio-link:active {
  color: floralwhite;
}


/* PORTFOLIO WORK SECTION */

.portfolio-work-section {
  margin: 0 auto;
  width: 33%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.portfolio-work-section h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-transform: uppercase;
  color: #595959;
  margin-top: 10px;
  margin-bottom: 30px;
}

.portfolio-work-section p {
  font-size: 14px;
  line-height: 1.5;
  color: #595959;
}

.work-medium-text-container, .work-info-text-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .portfolio-work-section {
    width: 75%;
  }
}

/* PORTFOLIO VIDEO SECTION */

.portfolio-video-wrapper {
  display: flex;
  justify-content: center;
}

.portfolio-video-container {
  position: relative;
  width: 66%;
  height: 0;
  padding-bottom: 37.5%; /* Adjust this percentage based on your desired aspect ratio, e.g., 16:9 ratio would be 56.25% */
  overflow: hidden;
}

.portfolio-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .portfolio-video-container {
    width: 93.5%;
/*  padding-bottom: 56.25vw; Used before */
    padding-bottom: calc((9 / 16) * 93.5%); /* Adjust the padding-bottom value based on the container width */
    margin: 0 auto;
  }
  .portfolio-video {
    width: 100%;
  }
}

/* PORTFOLIO IMAGE SECTION */

.portfolio-image-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.portfolio-image-overview {
  width: 66%;
  height: auto;
  object-fit: cover;
  padding-top: 2px;
  padding-bottom: 2px;
}

.portfolio-image-detail {
  width: calc(33% - 2px);
  height: auto;
  object-fit: cover;
  margin: 2px;
}

@media (max-width: 800px) {
  .portfolio-image-overview {
    width: calc(97% - 20px);
  }

  .portfolio-image-detail {
    width: calc(50% - 20px);
  }
}

/* PORTFOLIO PAGE CODE END */






/* BIO PAGE CODE BEGINNING */

.bio-portrait-container {
  min-height: 100vh;
}

.bio-portrait-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.bio-portrait-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.bio-portrait-image {
  object-fit: cover;
  object-position: center -750px; /* adjust the second value to shift the image view */
  width: 75%;
  height: 100vh;
}

@media (max-width: 800px) {
  .bio-portrait-image-container {
    transform: none;
    width: 100%;
  }

  .bio-portrait-image {
    object-position: center top;
    width: 100%;
    height: 100vh;
  }
}

/*position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%); in case i want to add on top of the image */

/* ARTIST STATEMENT SECTION */

.artist-statement-section {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
  padding-bottom: 25px;
}

.artist-statement-text-section {
  width: 50%;
}

.artist-statement-text-container {
  font-size: 14px;
  line-height: 1.5;
  color: #595959;
}

.artist-statement-text-intro, .artist-statement-text-concept, .artist-statement-text-education, .artist-statement-text-international {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .artist-statement-section {
    width: 100%;
  }

  .artist-statement-text-section {
    width: 75%;
  }
}

/* EXHIBITION SECTION */

.exhibition-section {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
  padding-bottom: 25px;
}

.exhibition-section-01, .exhibition-section-02 {
  width: 33%;
}

.solo-content, .group-content, .additionals-content, .education-content {
  padding: 25px;
}

.exhibition-section h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #595959;
}

.exhibition-section h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: #595959;
  margin-top: 25px;
  margin-bottom: 7px;
}

.exhibition-section p {
  font-size: 14px;
  line-height: 1.5;
  color: #595959;
}

@media (max-width: 800px) {
  .exhibition-section {
    width: 75%;
    padding: 0;
    flex-direction: column;
  }

  .exhibition-section-01, .exhibition-section-02 {
    width: 100%;
    padding: 0;
  }

  .solo-content, .group-content, .additionals-content, .education-content {
    padding: 0 0 50px 0;
  }
}

/* BIO PAGE CODE END */





/* CONTACT PAGE CODE BEGINNING */

/* CONTACT FORM */
.contact-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
  margin: 0 auto;
  width: 33%;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 20px;
}

.contact-section h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #595959;
  margin: 10px;
}

.contact-section p {
  font-size: 14px;
  line-height: 1.5;
  color: #595959;
  margin: 10px;
}

label {
  display: block;
  font-size: 14px;
  color: #595959;
  margin: 10px;
  text-align: left;
  width: 100%;
}

input, textarea {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

button[type="submit"] {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  color: #595959;
  padding: 10px 20px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #595959;
  color: floralwhite;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}




/* CONTACT PAGE CODE END */





/* POLICY PAGE CODE BEGINNING */

.cookie-policy-section, .privacy-policy-section {
  margin: 0 auto;
  width: 33%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.cookie-policy-section h1, .privacy-policy-section h1 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #595959;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cookie-policy-section h2, .privacy-policy-section h2 {
  font-size: 14px;
  font-weight: bold;
  color: #595959;
  margin-top: 30px;
  margin-bottom: 10px;
}

.cookie-policy-section p, .privacy-policy-section p {
  font-size: 14px;
  line-height: 1.5;
  color: #595959;
}

.cookie-policy-section ul {
  font-size: 14px;
  line-height: 1.5;
  color: #595959;
}

.cookie-policy-section a {
  font-size: 14px;
  line-height: 1.5;
  color: #595959;
}

/* POLICY PAGE CODE END */





/* FOOTER BEGINNING */

.footer-section {
  position: fixed;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: transparent;
  padding: 0 10px;
}

/* FOOTER LEFT */

.footer-left {
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0 10px;
}

.copyright-text {
  font-size: 8px;
  color: #595959;
  text-transform: uppercase;
}

/* FOOTER RIGHT */

.footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  padding: 0 10px;
}

.privacy-policy-footer-text {
  display: flex;
  align-items: center;
}

.cookie-policy-footer-text {
  display: flex;
  align-items: center;
}

.privacy-policy-link, .cookie-policy-link {
  font-size: 8px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #595959;
}

.privacy-policy-link:hover,
.privacy-policy-link:active,
.cookie-policy-link:hover,
.cookie-policy-link:active {
  color: floralwhite;
}


/* FOOTER END */











